Leagues/force-app/main/default/flows/Calendar_Sharing_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_User_Ids_from_Selected</name>
        <label>Get User Ids from Selected</label>
        <locationX>94</locationX>
        <locationY>930</locationY>
        <actionName>ParseFlowInput</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_CalendarView_Instances</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>input</name>
            <value>
                <elementReference>ChBx_Users_Input</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>userIdsToShareWith</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_All_User_Ids</name>
        <label>Add All User Ids</label>
        <locationX>1348</locationX>
        <locationY>1039</locationY>
        <assignmentItems>
            <assignToReference>userIdsToShareWith</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_All_Users.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_All_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Calendar_View_to_List</name>
        <label>Add Calendar View to List</label>
        <locationX>250</locationX>
        <locationY>2172</locationY>
        <assignmentItems>
            <assignToReference>lstCalendarViewsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>calendarView</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Selected_User_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Group_Member</name>
        <label>Add Group Member</label>
        <locationX>660</locationX>
        <locationY>1035</locationY>
        <assignmentItems>
            <assignToReference>userIdsToShareWith</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Group_Members.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Group_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Skip_List</name>
        <label>Add to Skip List</label>
        <locationX>1075</locationX>
        <locationY>2038</locationY>
        <assignmentItems>
            <assignToReference>userIdToSkip</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_for_Skips.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_from_Sharing_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_List_for_Deletion</name>
        <label>Assign to List for Deletion</label>
        <locationX>1413</locationX>
        <locationY>1734</locationY>
        <assignmentItems>
            <assignToReference>calendarViewInstancesToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_for_Deletion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Deletion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_from_Sharing_List</name>
        <label>Remove from Sharing List</label>
        <locationX>928</locationX>
        <locationY>2053</locationY>
        <assignmentItems>
            <assignToReference>userIdsToShareWith</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>userIdToSkip</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Skips</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Calendar_View_for_User</name>
        <label>Set Calendar View for User</label>
        <locationX>249</locationX>
        <locationY>1875</locationY>
        <assignmentItems>
            <assignToReference>calendarView.Color</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Calendar_View.Color</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>calendarView.DisplayField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Calendar_View.DisplayField</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>calendarView.IsDisplayed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Calendar_View.IsDisplayed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>calendarView.StartField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Calendar_View.StartField</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>calendarView.EndField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Calendar_View.EndField</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>calendarView.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Calendar_View.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>calendarView.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Selected_User_Ids</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>calendarView.SobjectType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Calendar_View.SobjectType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>calendarView.IsDisplayed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>calendarView.IsDeleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>calendarView.ListViewFilterId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Calendar_View.ListViewFilterId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Calendar_View_to_List</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceAddAsAdditional</name>
        <choiceText>Add as additional calendar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceOverwriteExisting</name>
        <choiceText>Overwrite existing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Overwrite</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceShareWithAll</name>
        <choiceText>Share with all users</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>All</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceShareWithGroup</name>
        <choiceText>Share with the users of a public group</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Group</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceShareWithUsers</name>
        <choiceText>Select each user individually</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Users</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceSkip</name>
        <choiceText>Skip users with a previous version of this calendar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Skip</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Handle_Existing_Type_0_0</name>
        <label>Check Handle Existing Type</label>
        <locationX>704</locationX>
        <locationY>1702</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Selected_User_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Add to Existing</defaultConnectorLabel>
        <rules>
            <name>Outcome_Remove_Existing_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Radio_Handle_Existing_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceOverwriteExisting</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_for_Deletion</targetReference>
            </connector>
            <label>Remove Existing</label>
        </rules>
        <rules>
            <name>Outcome_Skip_Existing_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Radio_Handle_Existing_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceSkip</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_for_Skips</targetReference>
            </connector>
            <label>Skip Existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Sharing_Type</name>
        <label>Check Sharing Type</label>
        <locationX>786</locationX>
        <locationY>531</locationY>
        <defaultConnector>
            <targetReference>Error_Input_Not_Recognized_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Input Not Recognized</defaultConnectorLabel>
        <rules>
            <name>Outcome_Share_With_Users</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Radio_Share_With_Type_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceShareWithUsers</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Individual_Users</targetReference>
            </connector>
            <label>Share With Users</label>
        </rules>
        <rules>
            <name>Outcome_Share_With_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Radio_Share_With_Type_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceShareWithGroup</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Share_With_Group_Screen</targetReference>
            </connector>
            <label>Share With Group</label>
        </rules>
        <rules>
            <name>Outcome_Share_With_All</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Radio_Share_With_Type_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceShareWithAll</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Users</targetReference>
            </connector>
            <label>Share With All</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_UserId_for_Removal</name>
        <label>Check UserId for Removal</label>
        <locationX>1400</locationX>
        <locationY>1412</locationY>
        <defaultConnector>
            <targetReference>Loop_for_Deletion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Remove_CV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userIdsToShareWith</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_for_Deletion.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_List_for_Deletion</targetReference>
            </connector>
            <label>Remove CV</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_UserId_for_Skip</name>
        <label>Check UserId for Skip</label>
        <locationX>1058</locationX>
        <locationY>1794</locationY>
        <defaultConnector>
            <targetReference>Loop_for_Skips</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_Skip_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userIdsToShareWith</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_for_Skips.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Skip_List</targetReference>
            </connector>
            <label>Skip User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_Get_Calendar_View</name>
        <label>Null Check Get Calendar View</label>
        <locationX>880</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Error_CV_Not_Found_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Calendar View Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Calendar_View</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Calendar_View</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Sharing_Type</targetReference>
            </connector>
            <label>Got Calendar View</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_Get_CalendarView_Instances</name>
        <label>Null Check Get CalendarView Instances</label>
        <locationX>470</locationX>
        <locationY>1369</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Selected_User_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CalendarView Instances Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_CalendarView_Instances</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CalendarView_Instances</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Handle_Existing_Screeen</targetReference>
            </connector>
            <label>Got CalendarView Instances</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_Get_Group_Members</name>
        <label>Null Check Get Group Members</label>
        <locationX>654</locationX>
        <locationY>891</locationY>
        <defaultConnector>
            <targetReference>Error_Group_Member_Not_Found_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Group Members Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Group_Members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_GroupMembers_in_Group</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Group_Members</targetReference>
            </connector>
            <label>Got Group Members</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>recChoiceCalendarView</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <object>CalendarView</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recChoicePublicGroups</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Group</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recChoiceUsers</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <sortField>LastName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Share Calendars Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calendar Sharing Screen Flow</label>
    <loops>
        <name>Loop_for_Deletion</name>
        <label>Loop for Deletion</label>
        <locationX>1180</locationX>
        <locationY>1594</locationY>
        <collectionReference>Get_CalendarView_Instances</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_UserId_for_Removal</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Existing_Instances</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_for_Skips</name>
        <label>Loop for Skips</label>
        <locationX>855</locationX>
        <locationY>1880</locationY>
        <collectionReference>Get_CalendarView_Instances</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_UserId_for_Skip</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_Selected_User_Ids</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_All_Users</name>
        <label>Loop through All Users</label>
        <locationX>1138</locationX>
        <locationY>1039</locationY>
        <collectionReference>Get_All_Users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_All_User_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_CalendarView_Instances</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Group_Members</name>
        <label>Loop through Group Members</label>
        <locationX>470</locationX>
        <locationY>1001</locationY>
        <collectionReference>Get_GroupMembers_in_Group</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Group_Member</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_CalendarView_Instances</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Selected_User_Ids</name>
        <label>Loop through Selected User Ids</label>
        <locationX>484</locationX>
        <locationY>2015</locationY>
        <collectionReference>userIdsToShareWith</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Calendar_View_for_User</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Calendar_Views</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Calendar_Views</name>
        <label>Insert Calendar Views</label>
        <locationX>485</locationX>
        <locationY>2319</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <inputReference>lstCalendarViewsToInsert</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Existing_Instances</name>
        <label>Delete Existing Instances</label>
        <locationX>1180</locationX>
        <locationY>2320</locationY>
        <connector>
            <targetReference>Loop_through_Selected_User_Ids</targetReference>
        </connector>
        <inputReference>calendarViewInstancesToDelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_All_Users</name>
        <label>Get All Users</label>
        <locationX>1138</locationX>
        <locationY>651</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_All_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Calendar_View</name>
        <label>Get Calendar View</label>
        <locationX>793</locationX>
        <locationY>270</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_Get_Calendar_View</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Picklist_Select_CalendarView_Input</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CalendarView</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CalendarView_Instances</name>
        <label>Get CalendarView Instances</label>
        <locationX>477</locationX>
        <locationY>1202</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_Get_CalendarView_Instances</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Calendar_View.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CalendarView</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_GroupMembers_in_Group</name>
        <label>Get GroupMembers in Group</label>
        <locationX>654</locationX>
        <locationY>771</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_Get_Group_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Picklist_Group_Input</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Individual_Users</name>
        <label>Get Individual Users</label>
        <locationX>94</locationX>
        <locationY>690</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Share_With_Users_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>486</locationX>
        <locationY>2500</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Confirmation_Screen_Msg</name>
            <fieldText>&lt;p&gt;Success! The {!Get_Calendar_View.Name} Calendar was shared with the selected users.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_CV_Not_Found_Screen</name>
        <label>Error CV Not Found Screen</label>
        <locationX>1113</locationX>
        <locationY>396</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_CV_Not_Found_Screen_Msg</name>
            <fieldText>&lt;p&gt;Hmm... something went wrong.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;No calendar view was found by that name. Please refresh the page and try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Group_Member_Not_Found_Screen</name>
        <label>Error Group Member Not Found Screen</label>
        <locationX>882</locationX>
        <locationY>885</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Group_Member_Not_Found_Screen_Msg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Hmm... something went wrong.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;No group members were found in the select group. Please verify that there are group members in the group.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Input_Not_Recognized_Screen</name>
        <label>Error Input Not Recognized Screen</label>
        <locationX>1270</locationX>
        <locationY>522</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Input_Not_Recognized_Screen_Msg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Hmm... something went wrong.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please refresh the page and try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Handle_Existing_Screeen</name>
        <label>Handle Existing Screeen</label>
        <locationX>711</locationX>
        <locationY>1370</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Handle_Existing_Type_0_0</targetReference>
        </connector>
        <fields>
            <name>Radio_Handle_Existing_Input</name>
            <choiceReferences>choiceOverwriteExisting</choiceReferences>
            <choiceReferences>choiceAddAsAdditional</choiceReferences>
            <choiceReferences>choiceSkip</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What would you like to do with users&apos; existing versions of this calendar?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Details_Screen</name>
        <label>Select Details Screen</label>
        <locationX>793</locationX>
        <locationY>156</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Calendar_View</targetReference>
        </connector>
        <fields>
            <name>Select_Details_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Details_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Picklist_Select_CalendarView_Input</name>
                    <choiceReferences>recChoiceCalendarView</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select calendar to share</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Details_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Radio_Share_With_Type_Input</name>
                    <choiceReferences>choiceShareWithUsers</choiceReferences>
                    <choiceReferences>choiceShareWithGroup</choiceReferences>
                    <choiceReferences>choiceShareWithAll</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select method of sharing</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Share_With_Group_Screen</name>
        <label>Share With Group Screen</label>
        <locationX>654</locationX>
        <locationY>651</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_GroupMembers_in_Group</targetReference>
        </connector>
        <fields>
            <name>Picklist_Group_Input</name>
            <choiceReferences>recChoicePublicGroups</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select public group</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Share_With_Users_Screen</name>
        <label>Share With Users Screen</label>
        <locationX>94</locationX>
        <locationY>810</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_User_Ids_from_Selected</targetReference>
        </connector>
        <fields>
            <name>ChBx_Users_Input</name>
            <choiceReferences>recChoiceUsers</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select users</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>667</locationX>
        <locationY>38</locationY>
        <connector>
            <targetReference>Select_Details_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>calendarView</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CalendarView</objectType>
    </variables>
    <variables>
        <name>calendarViewInstancesToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CalendarView</objectType>
    </variables>
    <variables>
        <name>lstCalendarViewsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CalendarView</objectType>
    </variables>
    <variables>
        <name>userIdsToShareWith</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userIdsToSkip</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userIdToSkip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
