Leagues/force-app/main/default/flows/Calendar_Sharing_Simple_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Set_newCalendarView</name>
        <label>Set newCalendarView</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>newCalendarView.Color</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Calendar_View.Color</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCalendarView.DateHandlingType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Calendar_View.DateHandlingType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCalendarView.DisplayField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Calendar_View.DisplayField</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCalendarView.StartField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Calendar_View.StartField</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCalendarView.EndField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Calendar_View.EndField</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCalendarView.FillPattern</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Calendar_View.FillPattern</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCalendarView.IsDisplayed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Calendar_View.IsDisplayed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCalendarView.ListViewFilterId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Calendar_View.ListViewFilterId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCalendarView.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Calendar_View.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCalendarView.SobjectType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Calendar_View.SobjectType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_newCalendarView</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>recChoiceCalendarView</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>CalendarView</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recChoiceUsers</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <sortField>LastName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Calendar Sharing Simple Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calendar Sharing Simple Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_newCalendarView</name>
        <label>Create newCalendarView</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <inputReference>newCalendarView</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Calendar_View</name>
        <label>Get Calendar View</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_newCalendarView</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_calendar_to_share</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CalendarView</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Confirmation_Screen_Msg</name>
            <fieldText>&lt;p&gt;Success!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Selection_Screen</name>
        <label>User Selection Screen</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Calendar_View</targetReference>
        </connector>
        <fields>
            <name>User_Selection_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>User_Selection_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_calendar_to_share</name>
                    <choiceReferences>recChoiceCalendarView</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select calendar to share</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>User_Selection_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_user_to_share_with</name>
                    <choiceReferences>recChoiceUsers</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select user to share with</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>User_Selection_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>newCalendarView</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CalendarView</objectType>
    </variables>
</Flow>
