Leagues/force-app/main/default/flows/League_Season_Cloner_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Clone_League_Seasons</name>
        <label>Clone League Seasons</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <actionName>LeagueSeasonCloner</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>yearsToAdd</name>
            <value>
                <elementReference>Input_Add_Years_Number</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>clonePlayers</name>
            <value>
                <elementReference>clonePlayers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cloneTeams</name>
            <value>
                <elementReference>cloneTeams</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>graduateTeams</name>
            <value>
                <elementReference>Input_Graduate_Teams_Boolean</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leagueId</name>
            <value>
                <elementReference>leagueId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leagueSeasonId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leagueSeasonName</name>
            <value>
                <elementReference>Input_League_Season_Name_Text</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>overrideName</name>
            <value>
                <elementReference>Input_Override_League_Season_Name_Boolean</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>newLeagueSeason</assignToReference>
            <name>clonedLeagueSeason</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_Clone_Teams</name>
        <label>Set Clone Teams</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>cloneTeams</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clone_League_Seasons</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Clone_Teams_and_Players</name>
        <label>Set Clone Teams and Players</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>cloneTeams</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonePlayers</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clone_League_Seasons</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_League_Id</name>
        <label>Set League Id</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>leagueId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_League_Season.League__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Choose_Objects_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceAll</name>
        <choiceText>League Season, Teams, and Players</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>All</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceLeagueSeasonAndTeams</name>
        <choiceText>League Season and Teams</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>League Season and Teams</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceLeagueSeasonOnly</name>
        <choiceText>League Season only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>League Season only</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Object_Selection</name>
        <label>Check Object Selection</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Clone_League_Seasons</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Clone Season Only</defaultConnectorLabel>
        <rules>
            <name>Clone_All_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Object_Selection_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceAll</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Clone_Teams_and_Players</targetReference>
            </connector>
            <label>Clone All Records</label>
        </rules>
        <rules>
            <name>Clone_Season_and_Teams</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Object_Selection_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceLeagueSeasonAndTeams</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Clone_Teams</targetReference>
            </connector>
            <label>Clone Season and Teams</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_Get_League_Season</name>
        <label>Null Check Get League Season</label>
        <locationX>534</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Error_League_Season_Not_Found_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>League Season Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_League_Season</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_League_Season</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_League_Id</targetReference>
            </connector>
            <label>Got League Season</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>recChoiceLeagues</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sport__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_League_Season.League__r.Sport__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Minimum_Age__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Get_League_Season.League__r.Minimum_Age__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_League_Season.League__c</elementReference>
            </value>
        </filters>
        <limit>25</limit>
        <object>League__c</object>
        <outputAssignments>
            <assignToReference>leagueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Minimum_Age__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>League Season Cloner Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>League Season Cloner Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_League_Season</name>
        <label>Get League Season</label>
        <locationX>534</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_Get_League_Season</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>League_Season__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Choose_Objects_Screen</name>
        <label>Choose Objects Screen</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Object_Selection</targetReference>
        </connector>
        <fields>
            <name>Choose_Objects_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Choose_Objects_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Input_Object_Selection_Radio</name>
                    <choiceReferences>choiceAll</choiceReferences>
                    <choiceReferences>choiceLeagueSeasonAndTeams</choiceReferences>
                    <choiceReferences>choiceLeagueSeasonOnly</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select records to clone</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Choose_Objects_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Input_Add_Years_Number</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of years to offset</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Enter a positive number to have the new League Season&apos;s date range in the future. Enter a negative number to create a previous season. Enter zero to create a League Season with the same date range.&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Choose_Objects_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Choose_Objects_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Input_Override_League_Season_Name_Boolean</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Override League Season Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Input_League_Season_Name_Text</name>
                    <dataType>String</dataType>
                    <fieldText>League Season Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Input_Override_League_Season_Name_Boolean</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Choose_Objects_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Input_Graduate_Teams_Boolean</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Graduate Teams</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Graduate Teams in this League Season to a different League&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Input_Choose_League_Picklist</name>
                    <choiceReferences>recChoiceLeagues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>League to move Teams to</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Input_Graduate_Teams_Boolean</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>314</locationX>
        <locationY>1094</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Confirmation_Screen_Message</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Success!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The League Season was successfully cloned.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/{!newLeagueSeason.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;View Record&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_League_Season_Not_Found_Screen</name>
        <label>Error League Season Not Found Screen</label>
        <locationX>754</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_League_Season_Not_Found_Screen_Msg</name>
            <fieldText>&lt;p&gt;Hmm... something went wrong.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The League Season ID was not found. Please refresh the page and try again. If the problem persists, contact your system administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_League_Season</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>clonePlayers</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>cloneTeams</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>leagueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newLeagueSeason</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>League_Season__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
