Leagues/force-app/main/default/flows/League_New_Season_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>New_Standings_Config</name>
        <label>New Standings Config</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>standingsConfig.Points_Per_Win__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Points_per_Win</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>standingsConfig.Points_Per_Loss__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Points_per_Loss</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>standingsConfig.Points_Per_Tie__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Points_per_Tie</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Standings_Config</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_League_Details</name>
        <label>Set League Details</label>
        <locationX>380</locationX>
        <locationY>1766</locationY>
        <assignmentItems>
            <assignToReference>leagueSeason.League__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_League.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leagueSeason.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strLeagueStandingsName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leagueSeason.League_Ranking_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Ranking_Type_Picklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_League_Season</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Name_to_Manual_Entry_Name</name>
        <label>Set Name to Manual Entry Name</label>
        <locationX>248</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>strLeagueStandingsName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_League_Season_Name_Text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_League_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Name_to_System_Name</name>
        <label>Set Name to System Name</label>
        <locationX>512</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>strLeagueStandingsName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strLeagueStandingsAutoName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_League_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Standings_Config</name>
        <label>Set Standings Config</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>leagueSeason.Standings_Configuration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Standings_Config.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Naming_Preference</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Standings_Config_New</name>
        <label>Set Standings Config New</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>leagueSeason.Standings_Configuration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>standingsConfig.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Naming_Preference</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Naming_Preference</name>
        <label>Check Naming Preference</label>
        <locationX>380</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Set_Name_to_System_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Use System Naming</defaultConnectorLabel>
        <rules>
            <name>Override_System_Naming</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Override_Name_Toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Name_to_Manual_Entry_Name</targetReference>
            </connector>
            <label>Override System Naming</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Ranking_Type</name>
        <label>Check Ranking Type</label>
        <locationX>380</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Check_Naming_Preference</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Points System</defaultConnectorLabel>
        <rules>
            <name>Is_Points_System</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Ranking_Type_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Points System</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Standings_Config</targetReference>
            </connector>
            <label>Is Points System</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_Get_Standings_Config</name>
        <label>Null Check Get Standings Config</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>New_Standings_Config</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standings Config Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Standings_Config</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Standings_Config</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Standings_Config</targetReference>
            </connector>
            <label>Got Standings Config</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_League</name>
        <label>Null Check League</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Error_League_Not_Found_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>League Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_League</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_League</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>League_Season_Details_Screen</targetReference>
            </connector>
            <label>Got League</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>pickChoiceRankTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>League_Ranking_Type__c</picklistField>
        <picklistObject>League_Season__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>strLeagueStandingsAutoName</name>
        <dataType>String</dataType>
        <expression>{!Get_League.Name} + &quot; &quot; + IF(
  YEAR( {!leagueSeason.Start_Date__c} ) = YEAR( {!leagueSeason.End_Date__c} ) ,
  TEXT( YEAR( {!leagueSeason.End_Date__c} ) ) ,
  TEXT( YEAR( {!leagueSeason.Start_Date__c} ) ) + &quot;-&quot; + TEXT( YEAR( {!leagueSeason.End_Date__c} ) )
)</expression>
    </formulas>
    <interviewLabel>League New Season Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>League New Season Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_League_Season</name>
        <label>Insert League Season</label>
        <locationX>380</locationX>
        <locationY>1886</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <inputReference>leagueSeason</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Standings_Config</name>
        <label>Insert Standings Config</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Set_Standings_Config_New</targetReference>
        </connector>
        <inputReference>standingsConfig</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_League</name>
        <label>Get League</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_League</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>League__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standings_Config</name>
        <label>Get Standings Config</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_Get_Standings_Config</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Points_Per_Win__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_Points_per_Win</elementReference>
            </value>
        </filters>
        <filters>
            <field>Points_Per_Loss__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_Points_per_Loss</elementReference>
            </value>
        </filters>
        <filters>
            <field>Points_Per_Tie__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Points_per_Tie</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Standings_Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>380</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Confirmation_Screen_Msg</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Success!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The {!strLeagueStandingsAutoName} season has been created.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/{!leagueSeason.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;View Record&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_League_Not_Found_Screen</name>
        <label>Error League Not Found Screen</label>
        <locationX>776</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>League_Season_Details_Screen</name>
        <label>League Season Details Screen</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Ranking_Type</targetReference>
        </connector>
        <fields>
            <name>League_Season_Details_Title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;League Season Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>League_Season_Details_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>League_Season_Details_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>leagueSeason.Start_Date__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>leagueSeason.End_Date__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>League_Season_Details_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>leagueSeason.Length_of_Games__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Input_Ranking_Type_Picklist</name>
                    <choiceReferences>pickChoiceRankTypes</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Input Ranking Type Picklist</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>League_Season_Details_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>League_Season_Details_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Input_Points_per_Win</name>
                    <dataType>Number</dataType>
                    <fieldText>Input Points per Win</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>League_Season_Details_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Input_Points_per_Loss</name>
                    <dataType>Number</dataType>
                    <fieldText>Input Points per Loss</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>League_Season_Details_Screen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Points_per_Tie</name>
                    <dataType>Number</dataType>
                    <fieldText>Points per Tie</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Input_Ranking_Type_Picklist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Points System</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>League_Season_Details_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>League_Season_Details_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>League_Season_Details_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Input_Override_Name_Toggle</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Override League Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Enter League Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>Use System Naming</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>League_Season_Details_Screen_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>League_Season_Details_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>League_Season_Details_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>League_Season_Details_Screen_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Input_League_Season_Name_Text</name>
                    <dataType>String</dataType>
                    <fieldText>League Season Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>League_Season_Details_Screen_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Input_Override_Name_Toggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_League</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>leagueSeason</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>League_Season__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>standingsConfig</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Standings_Configuration__c</objectType>
    </variables>
    <variables>
        <name>strLeagueStandingsName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
