Leagues/force-app/main/default/flows/Team_New_League_Game_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_Away_Values</name>
        <label>Set Away Values</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>leagueGame.Home_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Picklist_Opponent_Input_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leagueGame.Away_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Team.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_leagueGame_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Home_Values</name>
        <label>Set Home Values</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>leagueGame.Home_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Team.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leagueGame.Away_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Picklist_Opponent_Input_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_leagueGame_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_leagueGame_Values</name>
        <label>Set leagueGame Values</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>leagueGame.League_Season__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Team.League_Season__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_leagueGame</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Record_Type</name>
        <label>Set Record Type</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>leagueGame.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OpponentDetailsScreen_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceAway</name>
        <choiceText>Away</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Away</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceHome</name>
        <choiceText>Home</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Home</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Error_Record_Type_Not_Found_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record Type Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Record_Type</targetReference>
            </connector>
            <label>Got Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Home_or_Away</name>
        <label>Decision Home or Away</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Set_Away_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Away</defaultConnectorLabel>
        <rules>
            <name>Home_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Radio_Home_or_Away_Input_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceHome</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Home_Values</targetReference>
            </connector>
            <label>Home</label>
        </rules>
    </decisions>
    <description>Create new League Game from Team record page</description>
    <dynamicChoiceSets>
        <name>recChoiceTeamsInLeagueSeason</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>League_Season__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Team.League_Season__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <limit>50</limit>
        <object>Team__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>strLeagueGameName</name>
        <dataType>String</dataType>
        <expression>&quot;team vs team&quot;</expression>
    </formulas>
    <interviewLabel>Team New League Game Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Team New League Game Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_leagueGame</name>
        <label>Create leagueGame</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <inputReference>leagueGame</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>League_Game__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Team.League_Season__r.League__r.Sport__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Team</name>
        <label>Get Team</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>182</locationX>
        <locationY>1334</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation_Screen_Msg</name>
            <fieldText>&lt;p&gt;Success! The League Game was successfully created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Record_Type_Not_Found_Screen</name>
        <label>Error Record Type Not Found Screen</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Record_Type_Not_Found_Screen_Msg</name>
            <fieldText>&lt;p&gt;Hmm... something went wrong.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Could not find a valid record type for the associated League&apos;s sport. Please contact your system administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OpponentDetailsScreen_0</name>
        <label>Opponent Details Screen</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_Home_or_Away</targetReference>
        </connector>
        <fields>
            <name>OpponentDetailsScreen_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>OpponentDetailsScreen_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Radio_Home_or_Away_Input_0</name>
                    <choiceReferences>choiceHome</choiceReferences>
                    <choiceReferences>choiceAway</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Home or Away</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Picklist_Opponent_Input_0</name>
                    <choiceReferences>recChoiceTeamsInLeagueSeason</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Opponent</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>OpponentDetailsScreen_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>leagueGame.Game_Time__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Team</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>leagueGame</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>League_Game__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
